<!-- Services-->
        <section class="page-section" id="services">
            <div class="container px-4 px-lg-5" style="height:50vh;">
                <h2 class="text-center mt-0">My Projects</h2>
               
                <div class="row gx-4 gx-lg-5">

                    <div class="col-lg-4 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="fas fa-laptop fs-1 text-danger"></i></div>
                            <h3 class="h4 mb-2">A Retro Website</h3>
                            <p class="text-muted mb-0">Made a A responsive website using HTML, CSS and JS</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="fas fa-globe fs-1 text-danger"></i></div>
                            <h3 class="h4 mb-2">E-commerce Website</h3>
                            <p class="text-muted mb-0">Developed an ASP.NET MVC dessert-selling website with MS SQL Server integration, CRUD operations, 
 user authorization, Google authentication, and Stripe payment API implementation</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="fas fa-heart fs-1 text-danger"></i></div>
                            <h3 class="h4 mb-2">Java Console Application</h3>
                            <p class="text-muted mb-0">Made a Java Console Application with OOP'S Principles and made it user friendly. It was basic calculator App</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>